p.negriroja {
  font-weight: bold;
  color: red;
}
p.subrayado {
  text-decoration: underline;
}
tr:nth-child(odd) td{
  background: gray;
}
div.footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
